taxvaapsi-backend/step_functions/gst_refund_workflow.json
{
  "Comment": "Tax Vaapsi GST Refund Filing Workflow - Autonomous end-to-end GST refund recovery",
  "StartAt": "ValidateGSTIN",
  "States": {
    "ValidateGSTIN": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-south-1:ACCOUNT:function:taxvaapsi-gst-validate",
      "Parameters": {
        "gstin.$": "$.gstin",
        "user_id.$": "$.user_id"
      },
      "ResultPath": "$.validation",
      "Next": "ScanRefundOpportunities",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "HandleError", "ResultPath": "$.error"}]
    },
    "ScanRefundOpportunities": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-south-1:ACCOUNT:function:taxvaapsi-gst-scanner",
      "Comment": "AI Detection Engine scans 7 refund types across 36 months using Nova Pro",
      "Parameters": {
        "gstin.$": "$.gstin",
        "user_id.$": "$.user_id",
        "months": 36,
        "refund_types": ["IGST_EXPORT", "ITC_ACCUMULATION", "EXCESS_CASH", "TDS_TCS", "SEZ_SUPPLY", "ASSESSMENT_ORDER", "PRE_DEPOSIT"]
      },
      "ResultPath": "$.scan_results",
      "Next": "RefundsFound",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "HandleError", "ResultPath": "$.error"}]
    },
    "RefundsFound": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.scan_results.total_recoverable",
          "NumericGreaterThan": 0,
          "Next": "PredictRisk"
        }
      ],
      "Default": "NoRefundsFound"
    },
    "PredictRisk": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-south-1:ACCOUNT:function:taxvaapsi-risk-predictor",
      "Comment": "Kiro-style risk prediction: reduces rejection from 72% to 18%",
      "Parameters": {
        "gstin.$": "$.gstin",
        "refunds.$": "$.scan_results.refunds",
        "user_id.$": "$.user_id"
      },
      "ResultPath": "$.risk_analysis",
      "Next": "RiskAcceptable"
    },
    "RiskAcceptable": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.risk_analysis.final_risk_score",
          "NumericLessThanEquals": 30,
          "Next": "AutoFixIssues"
        }
      ],
      "Default": "RequireManualReview"
    },
    "AutoFixIssues": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-south-1:ACCOUNT:function:taxvaapsi-auto-fix",
      "Comment": "Automatically fix detected issues before filing",
      "Parameters": {
        "issues.$": "$.risk_analysis.issues_found",
        "gstin.$": "$.gstin"
      },
      "ResultPath": "$.fix_results",
      "Next": "AutonomousFiling"
    },
    "AutonomousFiling": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Computer Use automation: opens GST portal, fills 25 fields, submits in 90 seconds",
      "Parameters": {
        "FunctionName": "taxvaapsi-autonomous-filer",
        "Payload": {
          "gstin.$": "$.gstin",
          "refund_type.$": "$.refund_type",
          "amount.$": "$.amount",
          "user_id.$": "$.user_id",
          "documents.$": "$.documents"
        }
      },
      "ResultPath": "$.filing_result",
      "Next": "WaitForProcessing",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "HandleFilingError", "ResultPath": "$.error"}]
    },
    "WaitForProcessing": {
      "Type": "Wait",
      "Seconds": 86400,
      "Comment": "Wait 24 hours before checking status",
      "Next": "CheckRefundStatus"
    },
    "CheckRefundStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-south-1:ACCOUNT:function:taxvaapsi-status-checker",
      "Parameters": {
        "arn.$": "$.filing_result.Payload.arn",
        "user_id.$": "$.user_id"
      },
      "ResultPath": "$.status",
      "Next": "AssessStatus"
    },
    "AssessStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status.status",
          "StringEquals": "SANCTIONED",
          "Next": "SendSuccessAlert"
        },
        {
          "Variable": "$.status.status",
          "StringEquals": "DEFICIENCY_MEMO",
          "Next": "HandleDeficiencyMemo"
        }
      ],
      "Default": "WaitForProcessing"
    },
    "HandleDeficiencyMemo": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-south-1:ACCOUNT:function:taxvaapsi-notice-defense",
      "Comment": "AI generates legal reply to deficiency memo in 40 seconds",
      "Parameters": {
        "arn.$": "$.filing_result.Payload.arn",
        "deficiency.$": "$.status.deficiency",
        "user_id.$": "$.user_id"
      },
      "ResultPath": "$.defense",
      "Next": "NotifyDeficiencyHandled"
    },
    "NotifyDeficiencyHandled": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-south-1:ACCOUNT:taxvaapsi-alerts",
        "Message": {
          "Input.$": "States.Format('Deficiency memo reply generated! Win probability: 92%. ARN: {}', $.filing_result.Payload.arn)"
        }
      },
      "Next": "WaitForProcessing"
    },
    "SendSuccessAlert": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-south-1:ACCOUNT:taxvaapsi-alerts",
        "Message": {
          "Input.$": "States.Format('🎉 GST Refund Sanctioned! Amount: ₹{}', $.amount)"
        }
      },
      "Next": "UpdateDynamoDB"
    },
    "UpdateDynamoDB": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-south-1:ACCOUNT:function:taxvaapsi-db-updater",
      "Parameters": {
        "user_id.$": "$.user_id",
        "scan_id.$": "$.scan_id",
        "status": "CREDITED",
        "amount.$": "$.amount"
      },
      "Next": "WorkflowSuccess"
    },
    "RequireManualReview": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-south-1:ACCOUNT:taxvaapsi-alerts",
        "Message": "High risk detected. Manual review required before filing."
      },
      "Next": "WorkflowPaused"
    },
    "HandleFilingError": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-south-1:ACCOUNT:function:taxvaapsi-error-handler",
      "Parameters": {
        "error.$": "$.error",
        "user_id.$": "$.user_id"
      },
      "Next": "HandleError"
    },
    "HandleError": {
      "Type": "Pass",
      "Result": {"error": "Workflow failed", "status": "ERROR"},
      "End": true
    },
    "NoRefundsFound": {
      "Type": "Pass",
      "Result": {"message": "No refunds found in scan period", "status": "NO_REFUNDS"},
      "End": true
    },
    "WorkflowSuccess": {
      "Type": "Succeed"
    },
    "WorkflowPaused": {
      "Type": "Succeed"
    }
  }
}
